absl_py==2.1.0+computecanada
anyio==4.3.0+computecanada
appdirs==1.4.4+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
arrow==1.3.0+computecanada
asttokens==2.4.1+computecanada
astunparse==1.6.3+computecanada
async_lru==2.0.4+computecanada
attrs==23.2.0+computecanada
audioread==3.0.1+computecanada
Babel==2.15.0+computecanada
beautifulsoup4==4.12.3+computecanada
bleach==6.1.0+computecanada
certifi==2024.2.2+computecanada
cffi==1.15.1+computecanada
charset_normalizer==3.2.0+computecanada
click==8.1.7+computecanada
cloudpickle==3.0.0+computecanada
comm==0.2.2+computecanada
contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.1+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
docker-pycreds==0.4.0+computecanada
exceptiongroup==1.1.3+computecanada
executing==2.0.1+computecanada
fastjsonschema==2.19.1+computecanada
filelock==3.13.1+computecanada
flatbuffers==20190709135844+computecanada
fonttools==4.51.0+computecanada
fqdn==1.5.1+computecanada
fsspec==2024.5.0+computecanada
gast==0.5.4+computecanada
gdown==5.1.0+computecanada
gitdb==4.0.11+computecanada
GitPython==3.1.40+computecanada
google-pasta==0.2.0+computecanada
grpcio==1.62.1+computecanada
gym==0.26.2+computecanada
gym_notices==0.0.8+computecanada
h11==0.14.0+computecanada
h5py==3.11.0+computecanada
httpcore==1.0.4+computecanada
httpx==0.27.0+computecanada
huggingface_hub==0.23.0+computecanada
idna==3.4+computecanada
iniconfig==2.0.0+computecanada
ipykernel==6.29.3+computecanada
ipython==8.22.2+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.1.2+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.1+computecanada
jinja2==3.1.4+computecanada
joblib==1.4.2+computecanada
json5==0.9.20+computecanada
jsonpointer==2.4+computecanada
jsonschema==4.21.1+computecanada
jsonschema_specifications==2023.12.1+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter_client==8.6.0+computecanada
jupyter_core==5.7.2+computecanada
jupyter_events==0.9.0+computecanada
jupyter_lsp==2.2.4+computecanada
jupyter_server==2.13.0+computecanada
jupyter_server_terminals==0.5.2+computecanada
jupyterlab==4.1.3+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server==2.25.3+computecanada
jupyterlab_widgets==3.0.10+computecanada
keras==3.3.3+computecanada
kiwisolver==1.4.5+computecanada
lazy_loader==0.4+computecanada
libclang==14.0.1+computecanada
librosa==0.10.1+computecanada
llvmlite==0.41.1+computecanada
Markdown==3.5.2+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.3+computecanada
matplotlib==3.8.4+computecanada
matplotlib_inline==0.1.6+computecanada
mdurl==0.1.2+computecanada
mistune==3.0.2+computecanada
ml-dtypes==0.3.2
mpmath==1.3.0+computecanada
msgpack==1.0.4+computecanada
namex==0.0.8+computecanada
nbclient==0.8.0+computecanada
nbconvert==7.16.2+computecanada
nbformat==5.9.2+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.3+computecanada
notebook==7.1.1+computecanada
notebook_shim==0.2.4+computecanada
numba==0.58.1+computecanada
numpy==1.26.4+computecanada
opt_einsum==3.3.0+computecanada
optree==0.10.0+computecanada
overrides==7.7.0+computecanada
packaging==23.2+computecanada
pandas==2.2.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
pexpect==4.8.0+computecanada
pillow==10.2.0+computecanada
Pillow_SIMD==9.0.0.post1+computecanada
platformdirs==4.2.0+computecanada
pluggy==1.5.0+computecanada
pooch==1.8.1+computecanada
prometheus_client==0.20.0+computecanada
prompt_toolkit==3.0.43+computecanada
protobuf==4.25.2+computecanada
psutil==5.9.8
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
py_spy==0.3.14+computecanada
pycparser==2.21+computecanada
pygments==2.18.0+computecanada
pyparsing==3.1.1+computecanada
PySocks==1.7.1+computecanada
pytest==8.2.0+computecanada
python_dateutil==2.9.0.post0+computecanada
python_json_logger==2.0.7+computecanada
python_Levenshtein==0.12.2+computecanada
pytorch_ranger==0.1.1+computecanada
pytz==2024.1+computecanada
PyYAML==6.0.1+computecanada
pyzmq==25.1.1+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.0+computecanada
referencing==0.34.0+computecanada
regex==2023.8.8+computecanada
requests==2.31.0+computecanada
resampy==0.2.2+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rich==13.7.1+computecanada
rpds_py==0.10.6+computecanada
safetensors==0.4.1+computecanada
scikit_learn==1.4.2+computecanada
scipy==1.12.0+computecanada
Send2Trash==1.8.2+computecanada
sentencepiece==0.1.99+computecanada
sentry_sdk==2.2.1+computecanada
setproctitle==1.3.2+computecanada
six==1.16.0+computecanada
smmap==5.0.1+computecanada
sniffio==1.3.1+computecanada
soundfile==0.12.1+computecanada
soupsieve==2.5+computecanada
soxr==0.3.5+computecanada
stack_data==0.6.3+computecanada
sympy==1.12+computecanada
tensorboard==2.16.2+computecanada
tensorboard_data_server==0.7.0+computecanada
tensorboardX==2.6.2.2+computecanada
tensorflow==2.16.1+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
termcolor==2.4.0+computecanada
terminado==0.18.0+computecanada
threadpoolctl==3.5.0+computecanada
tinycss2==1.2.1+computecanada
tokenizers==0.19.1+computecanada
tomli==2.0.1+computecanada
torch==2.3.0+computecanada
torch_optimizer==0.3.0+computecanada
torchvision==0.18.0+computecanada
tornado==6.3.3+computecanada
tqdm==4.66.4+computecanada
traitlets==5.14.2+computecanada
transformers==4.40.2+computecanada
types_python_dateutil==2.8.19.20240106+computecanada
typing_extensions==4.11.0+computecanada
tzdata==2024.1+computecanada
uri_template==1.3.0+computecanada
urllib3==2.1.0+computecanada
wandb==0.16.0+computecanada
wcwidth==0.2.13+computecanada
webcolors==1.13+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.7.0+computecanada
werkzeug==3.0.1+computecanada
widgetsnbextension==4.0.10+computecanada
wrapt==1.16.0+computecanada
